h1 {
    position: relative;
    text-align: center;
}
.борщ {
    width: 270px;
    height: 200px;
}
.хачапури {
    width: 270px;
    height: 200px;
}
.кубдари {
    width: 270px;
    height: 200px;
}
.скумбрия {
    width: 270px;
    height: 200px;
}
.шашлык {
    width: 270px;
    height: 200px;
}
.лосось {
    width: 270px;
    height: 200px;
}
div, img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 8px;
}
.body {
    display: block;
}
@media (max-width: 1024px) {
    .style {
        display: block;
        width: 100%;
    }
}
@media (min-width: 320px) {
    .style {
        display: block;
        width: 100%;
    }
}
@media (max-width: 768px) {
    .style {
        display: block;
        width: 100%;
    }
}
p, a {
    height: 40px;
    width: 40px;
}