h1 {
    position: relative;
    text-align: center;
}
.борщ {
    width: 270px;
    height: 200px;
    flex-direction: column;
}
.хачапури {
    width: 270px;
    height: 200px;
    flex-direction: column;
}
.кубдари {
    width: 270px;
    height: 200px;
    flex-direction: column;
}
.скумбрия {
    width: 270px;
    height: 200px;
    flex-direction: column;
}
.шашлык {
    width: 270px;
    height: 200px;
    flex-direction: column;
}
.лосось {
    width: 270px;
    height: 200px;
    flex-direction: column;
}