.wrap {
    position: relative;
    width: 275px;
    height: 275px;
}
   
.instagram {
    position: absolute;
    width: 100%;
}
   
.bat {
    position: absolute;
    height: 100px;
    width: auto;
    top: 50%;
    margin-top: -50px;
    right:0;
}
.bat2 {
    position: absolute;
    height: 80px;
    width: auto;
    top: 20%;
    margin-top: -30px;
    left: 0;
}
.bat3 {
    position: absolute;
    height: 50px;
    width: auto;
    top: 90%;
    margin-top: -70px;
    left: 0;
}