h1 {
    position: absolute;
    font-size: 20px;
    font-family: Сomic Sans MS, cursive;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-left: 300px;
}


h2 {
    position: absolute;
    font-size: 20px;
    font-family: Сomic Sans MS, cursive;
    color: rgb(0, 0, 0);
    margin-top: 40px;
    margin-left: 300px;     
}

h3 {
    position: absolute;
    font-size: 20px;
    font-family: Сomic Sans MS, cursive ;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-left: 800px;
}

h4 {
    position: absolute;
    font-size: 20px;
    font-family: Сomic Sans MS, cursive;
    color: rgb(0, 0, 0);
    margin-top: 40px;
    margin-left: 800px; 
}

img {
    position: absolute;
    margin-left: 60px;
    height: 72px;
    width: 131px;
    display: block;
}

.img1 {
    position: absolute;
    width: 1850px;
    height: 800px;
    margin-top: 125px;
    margin-left: 20px;
}

.img2 {
    position: absolute;
    height: 90px;
    width: 625px;
    margin-top: 400px;
    margin-left: 120px;
}

.img3 {
    position: absolute;
    height: 110px;
    width: 230px;
    margin-left: 470px;
}

.img4 {
    position: absolute;
    width: 145px;
    height: 15px;
    margin-top: 30px;
    margin-left: 1250px;
}

.img5 {
    position: absolute;
    width: 125px;
    height: 15px;
    margin-top: 30px;
    margin-left: 1450px;
}

.img6 {
    position: absolute;
    margin-top: 990px;
    margin-left: 60px;
    height: 75px;
    width: 625px;    
}

.img7 {
    position: absolute;
    margin-top: 950px;
    margin-left: 1000px;
    height: 180px;
    width: 300px;  
}

.img8 {
    position: absolute;
    margin-left: 950px;
    margin-top: 950px;
    height: 30px;
    width: 50px;
}

.img9 {
    position: absolute;
    margin-left: 950px;
    margin-top: 1025px;
    height: 30px;
    width: 50px;  
}

.img10 {
    position: absolute;
    margin-left: 950px;
    margin-top: 1100px;
    height: 35px;
    width: 50px;
}

.img11 {
    position: absolute;
    margin-top: 1250px;
    margin-left: 100px;
    width: 450px;
    height: 40px;
}

.img12 {
    position: absolute;
    margin-top: 1350px;
    margin-left: 20px;
    width: 576px;
    height: 470px;
}

.img13 {
    position: absolute;
    margin-top: 1350px;
    margin-left: 20px;
    width: 576px;
    height: 470px;
}

.img14 {
    position: absolute;
    margin-top: 1400px;
    margin-left: 40px;
    height: 24px;
    width: 220px;
}

.img15 {
    position: absolute;
    margin-top: 1600px;
    margin-left: 170px;
    height: 24px;
    width: 270px;
}

.img16 {
    position: absolute;
    margin-top: 1350px;
    margin-left: 650px;
    width: 576px;
    height: 470px;
}

.img17 {
    position: absolute;
    margin-top: 1540px;
    margin-left: 880px;
    width: 20px;
    height: 20px;
}

.img18 {
    position: absolute;
    margin-top: 1540px;
    margin-left: 905px;
    width: 20px;
    height: 20px;
}

.img19 {
    position: absolute;
    margin-top: 1540px;
    margin-left: 930px;
    width: 20px;
    height: 20px;
}

.img20 {
    position: absolute;
    margin-top: 1540px;
    margin-left: 980px;
    width: 20px;
    height: 20px;
}

.img21 {
    position: absolute;
    margin-top: 1540px;
    margin-left: 955px;
    width: 20px;
    height: 20px;
}

.img22 {
    position: absolute;
    margin-top: 1350px;
    margin-left: 650px;
    width: 576px;
    height: 470px;  
}

.img23 {
    position: absolute;
    margin-top: 1400px;
    margin-left: 680px;
    height: 24px;
    width: 160px;
}

.img24 {
    position: absolute;
    margin-top: 1350px;
    margin-left: 1280px;
    width: 576px;
    height: 470px;
}

.img25 {
    position: absolute;
    margin-top: 1350px;
    margin-left: 1280px;
    width: 576px;
    height: 470px;
}

.img26 {
    position: absolute;
    margin-top: 1540px;
    margin-left: 260px;
    width: 20px;
    height: 20px;
}

.img27 {
    position: absolute;
    margin-top: 1540px;
    margin-left: 285px;
    width: 20px;
    height: 20px;
}

.img28 {
    position: absolute;
    margin-top: 1540px;
    margin-left: 310px;
    width: 20px;
    height: 20px;
}

.img29 {
    position: absolute;
    margin-top: 1540px;
    margin-left: 335px;
    width: 20px;
    height: 20px;
}

.img30 {
    position: absolute;
    margin-top: 1590px;
    margin-left: 810px;
    height: 50px;
    width: 270px;
}

.img31 {
    position: absolute;
    margin-top: 1540px;
    margin-left: 1535px;
    width: 20px;
    height: 20px;
}

.img32 {
    position: absolute;
    margin-top: 1540px;
    margin-left: 1560px;
    width: 20px;
    height: 20px;
}

.img33 {
    position: absolute;
    margin-top: 1540px;
    margin-left: 1585px;
    width: 20px;
    height: 20px;
}

.img34 {
    position: absolute;
    margin-top: 1540px;
    margin-left: 1610px;
    width: 20px;
    height: 20px;
}

.img35 {
    position: absolute;
    margin-top: 1590px;
    margin-left: 1430px;
    height: 50px;
    width: 290px; 
}

.img36 {
    position: absolute;
    margin-top: 1400px;
    margin-left: 1310px;
    height: 20px;
    width: 225px; 
}